.header {
  background-color: #fff;
  &-top {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;

    &__search {
      margin: auto;
      margin-left: 108px;
    }
  }
}
.search {
  display: flex;
  height: 40px;
  width: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  &__input {
    width: 100%;
    padding: 12px 23px;
    border: none;
    background-color: #f5fafe;
    padding-right: 75px;
  }
  .search-button {
    width: 65px;
    height: 100%;
    position: absolute;
    border: none;
    background-color: $acent-color;
    right: 0;
  }
}
.user {
  display: flex;
  align-items: center;
  color: $font-color;
  text-decoration: none;
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    object-fit: cover;
  }
  &__name {
    margin-left: 18px;
  }
}
.navbar {
  background-color: #0a223d;

  &-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 31px;
    &__items {
      list-style: none;
    }
    &__link {
      color: #fff;
      text-decoration: none;
    }
  }
}
.small-button {
  display: none;
}
