.hotel {
  margin-top: 40px;
  margin-bottom: 70px;
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__offer {
      margin-left: 14px;
      margin-top: 4px;
    }
    &__description {
      margin-top: 4px;
    }
    &__name {
      margin-top: 4px;
      margin-bottom: 0px;
    }
  }
  &-name {
    font-size: 24px;
    line-height: 30px;
  }
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
.stars {
  flex-basis: 100%;
}
.slider {
  width: 728px;
}
.swiper {
  width: 100%;
  height: 450px;
  position: relative;
  border-radius: 8px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 122, 223, 0.48) 0%,
      rgba(255, 255, 255, 0.128) 100%
    );
    z-index: 10;
  }
}
.slider {
  &-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
    &-prev {
      left: 10px;
      background-image: url("../img/arrow-left.svg");
    }
    &-next {
      right: 10px;
      background-image: url("../img/arrow-rigth.svg");
    }
  }
}
.offer {
  padding: 4px 9px;
  background-color: $acent-color;
  color: #fff;
  border-radius: 3px;
  font-size: 10px;
  line-height: 13px;
}
.ratting {
  width: 65px;
  height: 45px;
  background-color: $acent-color;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding-top: 9px;
  &__text {
    font-size: 8px;
    line-height: 10px;
  }
  &__count {
    font-size: 14px;
    line-height: 18px;
  }
}
.hotel-description {
  font-size: 12px;
}
